/* [project]/apps/user-ui/src/app/global.css [app-client] (css) */
:before, :after {
  --tw-content: "";
}

html, :host {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
}

body {
  line-height: inherit;
  margin: 0;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: #0000;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button {
  height: auto;
}

::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  vertical-align: middle;
  display: block;
}

img, video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

*, :before, :after, ::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-y-0 {
  top: 0;
  bottom: 0;
}

.bottom-1 {
  bottom: .25rem;
}

.left-0 {
  left: 0;
}

.right-1 {
  right: .25rem;
}

.right-3 {
  right: .75rem;
}

.right-\[-10px\] {
  right: -10px;
}

.right-\[-12px\] {
  right: -12px;
}

.top-0 {
  top: 0;
}

.top-1 {
  top: .25rem;
}

.top-\[-10px\] {
  top: -10px;
}

.top-\[50px\] {
  top: 50px;
}

.top-\[70px\] {
  top: 70px;
}

.z-\[100\] {
  z-index: 100;
}

.m-auto {
  margin: auto;
}

.my-2 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mb-1 {
  margin-bottom: .25rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mr-2 {
  margin-right: .5rem;
}

.mt-2 {
  margin-top: .5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.h-12 {
  height: 3rem;
}

.h-6 {
  height: 1.5rem;
}

.h-\[400px\] {
  height: 400px;
}

.h-\[40px\] {
  height: 40px;
}

.h-\[46px\] {
  height: 46px;
}

.h-\[47px\] {
  height: 47px;
}

.h-\[50px\] {
  height: 50px;
}

.h-\[55px\] {
  height: 55px;
}

.min-h-\[85vh\] {
  min-height: 85vh;
}

.w-12 {
  width: 3rem;
}

.w-6 {
  width: 1.5rem;
}

.w-\[260px\] {
  width: 260px;
}

.w-\[40px\] {
  width: 40px;
}

.w-\[48px\] {
  width: 48px;
}

.w-\[50\%\] {
  width: 50%;
}

.w-\[80\%\] {
  width: 80%;
}

.w-full {
  width: 100%;
}

.flex-1 {
  flex: 1;
}

.cursor-pointer {
  cursor: pointer;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-2 {
  gap: .5rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

.\!rounded {
  border-radius: .25rem !important;
}

.rounded-\[4px\] {
  border-radius: 4px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: .5rem;
}

.rounded-md {
  border-radius: .375rem;
}

.border {
  border-width: 1px;
}

.border-2, .border-\[2px\] {
  border-width: 2px;
}

.border-t {
  border-top-width: 1px;
}

.border-\[\#010f0c0a\] {
  border-color: #010f0c0a;
}

.border-\[\#29d4aa\] {
  --tw-border-opacity: 1;
  border-color: rgb(41 212 170 / var(--tw-border-opacity));
}

.border-blue-100 {
  --tw-border-opacity: 1;
  border-color: rgb(219 234 254 / var(--tw-border-opacity));
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.bg-\[\#2489ff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(36 137 255 / var(--tw-bg-opacity));
}

.bg-\[\#29d4aa\] {
  --tw-bg-opacity: 1;
  background-color: rgb(41 212 170 / var(--tw-bg-opacity));
}

.bg-\[\#f1f1f1\] {
  --tw-bg-opacity: 1;
  background-color: rgb(241 241 241 / var(--tw-bg-opacity));
}

.bg-\[\#f5f5f5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.p-2 {
  padding: .5rem;
}

.p-4 {
  padding: 1rem;
}

.p-8 {
  padding: 2rem;
}

.px-3 {
  padding-left: .75rem;
  padding-right: .75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.py-3 {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.pt-3 {
  padding-top: .75rem;
}

.text-center {
  text-align: center;
}

.font-Poppins {
  font-family: var(--font-poppins);
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: .875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-\[500\], .font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.text-\[\#00000099\] {
  color: #0009;
}

.text-\[\#2abe79\] {
  --tw-text-opacity: 1;
  color: rgb(42 190 121 / var(--tw-text-opacity));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.opacity-\[\.8\] {
  opacity: .8;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none {
  outline-offset: 2px;
  outline: 2px solid #0000;
}

.outline-0 {
  outline-width: 0;
}

.transition-all {
  transition-property: all;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.duration-300 {
  transition-duration: .3s;
}

html {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  scroll-behavior: smooth;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
}

body {
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}

h1, h2, p, pre {
  margin: 0;
}

*, :before, :after {
  box-sizing: border-box;
  border: 0 solid;
}

h1, h2 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

svg {
  vertical-align: middle;
  shape-rendering: auto;
  text-rendering: optimizeLegibility;
  display: block;
}

pre {
  color: #e5e7eb;
  background-color: #374151;
  border-radius: .25rem;
  padding: .5rem .75rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  overflow: scroll;
}

.shadow {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px #0000001a, 0 4px 6px -2px #0000000d;
}

.rounded {
  border-radius: 1.5rem;
}

.wrapper {
  width: 100%;
}

.container {
  color: #374151;
  width: 100%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#welcome {
  margin-top: 2.5rem;
}

#welcome h1 {
  letter-spacing: -.025em;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1;
}

#welcome span {
  margin-bottom: .5rem;
  font-size: 1.875rem;
  font-weight: 300;
  line-height: 2.25rem;
  display: block;
}

#hero {
  box-sizing: border-box;
  color: #374151;
  background-color: #143157;
  border: none;
  grid-template-columns: 1fr;
  align-items: center;
  margin-top: 3.5rem;
  display: grid;
}

#hero .text-container {
  color: #fff;
  padding: 3rem 2rem;
}

#hero .text-container h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  position: relative;
}

#hero .text-container h2 svg {
  color: #44bb97;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0;
  left: -.25rem;
}

#hero .text-container h2 span {
  margin-left: 2.5rem;
}

#hero .text-container a {
  color: #374151;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
  background-color: #fff;
  border-radius: .75rem;
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  display: inline-block;
}

#hero .logo-container {
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  display: none;
}

#hero .logo-container svg {
  color: #fff;
  width: 66.6667%;
}

#middle-content {
  grid-template-columns: 1fr;
  align-items: flex-start;
  gap: 4rem;
  margin-top: 3.5rem;
  display: grid;
}

#learning-materials {
  padding: 2.5rem 2rem;
}

#learning-materials h2 {
  letter-spacing: -.025em;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.75rem;
}

.list-item-link {
  border-radius: .75rem;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter, backdrop-filter;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  display: flex;
}

.list-item-link svg:first-child {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter, backdrop-filter;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.list-item-link > span {
  flex-grow: 1;
  font-weight: 400;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter, backdrop-filter;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.list-item-link > span > span {
  color: #6b7280;
  flex-grow: 1;
  font-size: .75rem;
  font-weight: 300;
  line-height: 1rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter, backdrop-filter;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  display: block;
}

.list-item-link svg:last-child {
  width: 1rem;
  height: 1rem;
  transition-property: all;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.list-item-link:hover {
  color: #fff;
  background-color: #44bb97;
}

.list-item-link:hover > span > span {
  color: #f3f4f6;
}

.list-item-link:hover svg:last-child {
  transform: translateX(.25rem);
}

.button-pill {
  align-items: center;
  padding: 1.5rem 2rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter, backdrop-filter;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  display: flex;
}

.button-pill svg {
  flex-shrink: 0;
  width: 3rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter, backdrop-filter;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.button-pill > span {
  letter-spacing: -.025em;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.button-pill span span {
  font-size: .875rem;
  font-weight: 300;
  line-height: 1.25rem;
  display: block;
}

.button-pill:hover svg, .button-pill:hover {
  color: #fff !important;
}

#nx-console:hover {
  background-color: #007acc;
}

#nx-console svg {
  color: #007acc;
}

#nx-console-jetbrains {
  margin-top: 2rem;
}

#nx-console-jetbrains:hover {
  background-color: #ff318c;
}

#nx-console-jetbrains svg {
  color: #ff318c;
}

#nx-repo:hover {
  background-color: #181717;
}

#nx-repo svg {
  color: #181717;
}

#nx-cloud {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2.5rem 2rem;
}

#nx-cloud > div {
  align-items: center;
  display: flex;
}

#nx-cloud > div svg {
  border-radius: .375rem;
  flex-shrink: 0;
  width: 3rem;
}

#nx-cloud > div h2 {
  letter-spacing: -.025em;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
}

#nx-cloud > div h2 span {
  font-size: .875rem;
  font-weight: 300;
  line-height: 1.25rem;
  display: block;
}

#nx-cloud p {
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

#nx-cloud pre {
  margin-top: 1rem;
}

#nx-cloud a {
  color: #6b7280;
  text-align: right;
  margin-top: 1.5rem;
  font-size: .875rem;
  line-height: 1.25rem;
  display: block;
}

#nx-cloud a:hover {
  text-decoration: underline;
}

#commands {
  margin-top: 3.5rem;
  padding: 2.5rem 2rem;
}

#commands h2 {
  letter-spacing: -.025em;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
}

#commands p {
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
}

details {
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
}

details pre > span {
  color: #b5b5b5;
  display: block;
}

summary {
  cursor: pointer;
  border-radius: .5rem;
  padding: .5rem;
  font-weight: 400;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter, backdrop-filter;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  display: flex;
}

summary:hover {
  background-color: #f3f4f6;
}

summary svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

#love {
  color: #6b7280;
  opacity: .6;
  text-align: center;
  margin-top: 3.5rem;
  font-size: .875rem;
  line-height: 1.25rem;
}

#love svg {
  color: #fca5a5;
  width: 1.25rem;
  height: 1.25rem;
  margin-top: -.25rem;
  display: inline;
}

@media screen and (min-width: 768px) {
  #hero {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  #hero .logo-container {
    display: flex;
  }

  #middle-content {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.hover\:bg-gray-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.disabled\:opacity-80:disabled {
  opacity: .8;
}

@media (min-width: 768px) {
  .md\:w-\[480px\] {
    width: 480px;
  }
}

/*# sourceMappingURL=apps_user-ui_src_app_global_css_bad6b30c._.single.css.map*/